<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,
                                   maximum-scale=1, user-scalable=no">
    <title>zdxsn's blog-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/color.css">
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon-home"></span>
                    博客首页
                </a>
            </div> <!--/.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% if section == 'all' %}active{% endif %}">
                        <a href="{% url 'post_list' %}">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            所有文章
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left"  action="{% url 'post_search' %}">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               placeholder="搜索标题/描述" name="query">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right contact">
                    <li>
                        <a href="https://github.com/thomaszdxsn/">
                            <span class="glyphicon glyphicon-link">Github</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'post_feed' %}">
                            <span class="glyphicon glyphicon-link">RSS</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:bnm_965321@sina.com">
                            <span class="glyphicon glyphicon-send"></span>
                            bnm_965321@sina.com
                        </a>
                    </li>
                </ul>

            </div> <!-- /.navbar-collpase -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script>
        $("table").addClass("table table-striped table-bordered");
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>