{% extends "post/base.html" %}

{% block title %}搜索页面{% endblock %}

{% block content %}
    <h1 class="page-header">搜索 "{{ query }}" 的结果:</h1>
    {% if posts %}
    <div class="articles">
        {% for post in posts %}
            <section class="media">
                <div class="media-left">
                    <a href="{{ post.get_absolute_url }}">
                        <img class="media-object"
                             src="{% if post.image %}
                                    {{ post.image.url }}
                                  {% else %}
                                    {% url 'placeholder' 136 120 %}
                                  {% endif %}"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ post.title }}</h4>
                    <p>
                    {{ post.publish_time|date:"Y/m/d" }}
                    <span class="label label-primary">it技术</span>,
                    <span class="label label-info">cs</span>
                    </p>
                    <p>{{ post.description|truncatechars:120|linebreaks }}</p>
                    <a class="btn btn-info btn-sm enter" href="{{ post.get_absolute_url }}">
                        阅读全文 »
                    </a>
                </div>
                <hr />
            </section>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="lead">暂无相关内容</h2>
    {% endif %}

{% endblock %}