body {
    padding-top: 70px;
}

.thumbnail:hover {
    background: #ccc;
}

.navbar-brand {
    padding-left: 100px;
}

.section-left {
    position: relative;
}

.tags {
    position: absolute;
    top: 280px;
}

.media {
    position: relative;
}

.enter {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.label {
    display: inline-block;
}
